body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.8;
    margin: 0px;
    background: url('https://defencedirecteducation.com/wp-content/uploads/2022/04/ezgif-5-d9a1447572-696x464.jpg') no-repeat center center fixed;
    background-color: rgb(202, 162, 116);
    color: #4a3e2e;
    background-size: cover;
   
}

h1{
    text-align: center;
    color:rgb(107,66,38);
    font-size: 3.5rem;
    margin-top: 20px;
    text-shadow: 4px 0px 2px rgba(0,0,0,0.4);
    animation: fadeIn 0.4s ease-in-out;
}

.First{
    text-align: center;
    background-color: rgba(255, 248, 220, 0.9);
    animation: fadeIn 0.4s ease-in-out;
    background-size: cover;
    border: 5px solid rgb(139,107,69);
    margin: 20px auto;
    max-width: 2500px;
    border-radius: 30px;
}

.Second{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Second button{
    padding: 10px 15px;
    margin: 10px;
    background-color: rgb(107,66,38);
    border-radius: 60px;
    border: 5px solid rgb(74,62,46);
    color: beige;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    transition: transform 0.3s, backrground-color 0.3s;
}

.Second button:hover{
    background-color: rgb(140,115,77);
    transform: scale(1.5);
}


.timeline{
    margin: 20px auto;
    padding: 30px;
    max-width: 1200px;
    border: 5px solid rgb(139,107,69);
    background-color: rgba(255, 248, 220, 0.9);
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    animation: fadeIn 0.4s ease-in-out;
    background-size: cover;
}


.event{
    margin-bottom: 25px;
    border-left: 5px solid rgb(139,107,69);
    padding-left: 15px;
    position: relative;
    animation: slideIn 0.4s ease-in-out;
}

.event::before{
    content: 'â—';
    position: absolute;
    left: -11px;
    top: 0px;
    font-size: 20px;
    color: rgb(139,107,69);
    background-color: rgba(255, 248, 220, 0.9);
    padding: 2px;
}

.event h2{
    margin-bottom: 0px;
    color: rgb(139,107,69);
    font-family: 'Palatino Linotype', 'Book Antiqua', serif;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.event p{
    margin: 5px 0px 0px;
    font-family: 'Palatino Linotype', 'Book Antiqua', serif;
}

.year{
    font-weight: bold;
    font-style: italic;
    color: #555;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.home-button {
    padding: 0 2px 0 0 ;
    margin: 20px 20px;
    background-color: rgb(121, 118, 118);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.home-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transform: scale(1.3);
}
.home-button>img{
    margin: 0 5px 6px 0;
}
