body {
    font-family: 'Arial', sans-serif;
    background-color: #faf3dd;
    color: #fff9e6;
    margin: 0;
    padding: 0;
}
header {
    background-color: #faf3dd;
    color: #000;
    text-align: center;
    padding: 2rem;
    border-bottom: 4px solid #e50914;
}
header h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
}
header p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}
.Figures{
    width: 85%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2.5rem;
}
.Ram {
    background-color:white;
    padding: 1.5rem;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s;
}
.Ram:hover {
    transform: scale(1.05);
    background-color: #444;
    color: #e50914;
}
.Ram img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    border: 4px solid #edb90b;
}
.Ram h2 {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: #e50914;
}
.Ram p {
    font-size: 1rem;
    color: black;
}


footer {
    background-color: #fff9e6;
    color: #000;
    text-align: center;
    padding: 1rem;
    border-top: 4px solid #e50914;
    margin-top: 2rem;
}

.home-button {
    padding: 0 2px 0 0 ;
    margin: 20px 0 0;
    background-color: #faf3dd;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.home-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transform: scale(1.3);
}
.home-button>img{
    margin: 0 5px 6px 0;
}
