body{
    line-height: 1.8;
    margin: 20px;
    background: url('https://easy-peasy.ai/cdn-cgi/image/quality=80,format=auto,width=700/https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/aa225ef9-67a4-4770-9b58-1fbdd47e2a36/ce5750ff-1778-4af4-8cb8-507565547c67.png') no-repeat center center fixed;
    background-color: blanchedalmond;
    overflow:visible;
}

.main{
    border: 2px solid transparent;
    background-color: rgba(177, 141, 116, 0.9);
    border-radius: 10px;
    padding: 10px;
    max-width: 90%;
    margin: 20px auto;
}

h1{
    text-align: center;
    background-color: blanchedalmond;
}

hr{
    margin: 20px 0px;
}

.imgclass,img{
    max-width: 100%;
    background-color: wheat;
    border: 2px solid transparent;
    display: block;
    margin: auto;
}