body{
    line-height: 1.8;
    margin: 20px;
    background: url('https://www.shutterstock.com/shutterstock/photos/1926750233/display_1500/stock-vector-vector-set-of-creativity-line-icons-contains-icons-idea-brainstorm-thought-quick-tips-1926750233.jpg') no-repeat center center fixed;
    background-color: white;
}

.main{
    border: 2px solid brown;
    background-color: rgba(0,0,10,0.8);
    border-radius: 10px;
    padding: 10px;
    max-width: 90%;
    margin: 20px auto;
    color: white;
}

h1{
    text-align: center;
    background-color: white;
}

hr{
    margin: 20px 0px;
}

.imgclass,img{
    max-width: 100%;
    background-color: wheat;
    border: 2px solid white;
    display: block;
    margin: auto;
}