body{
    line-height: 1.8;
    margin: 20px;
    background: url('https://i.natgeofe.com/n/cb4913c4-d65f-4388-83ab-c7d402caabad/Sumer2.jpg?w=1260&h=840') no-repeat center center fixed;
    background-color: burlywood;
}

.main{
    border: 2px solid transparent;
    background-color: rgba(100, 100, 127, 0.8);
    border-radius: 10px;
    padding: 10px;
    max-width: 90%;
    margin: 20px auto;
    color: white;
    max-width: 84%;
}

h1{
    text-align: center;
    background-color: white;
}

hr{
    margin: 20px 0px;
}

.imgclass,img{
    max-width: 100%;
    /* background-color: rgba(100, 100, 127, 0.8); */
    border: 2px solid transparent;
    display: block;
    margin: auto;
}